{% extends "layout.html" %}
{% block content %}
<form action="/main/{{user}}" method="POST">
    <div class="row">
        <div class="col">
            <label for="Moneda">Moneda</label>
            <select name="Moneda" id="Moneda" class="form-control">
                <option value="EUR">EUR</option>
                <option value="USD">USD</option>
                <option value="JPY">JPY</option>
                <option value="BGN">BGN</option>
                <option value="CZK">CZK</option>
                <option value="DKK">DKK</option>
                <option value="GBP">GBP</option>
                <option value="HUF">HUF</option>
                <option value="PLN">PLN</option>
                <option value="RON">RON</option>
                <option value="SEK">SEK</option>
                <option value="CHF">CHF</option>
                <option value="ISK">ISK</option>
                <option value="NOK">NOK</option>
                <option value="TRY">TRY</option>
                <option value="AUD">AUD</option>
                <option value="BRL">BRL</option>
                <option value="CAD">CAD</option>
                <option value="CNY">CNY</option>
                <option value="HKD">HKD</option>
                <option value="IDR">IDR</option>
                <option value="ILS">ILS</option>
                <option value="INR">INR</option>
                <option value="KRW">KRW</option>
                <option value="MXN">MXN</option>
                <option value="MYR">MYR</option>
                <option value="NZD">NZD</option>
                <option value="PHP">PHP</option>
                <option value="SGD">SGD</option>
                <option value="THB">THB</option>
                <option value="ZAR">ZAR</option>
            </select>
    </div>
    <br>
    <button type="submit" class="btn btn-success">Cambiar</button>
</form>
<br>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Gasto</th>
        <th scope="col">Tienda</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Importe</th>
        <th scope="col">Moneda</th>
        <th scope="col">Año</th>
    </tr>
    </thead>
    <tbody>
    {% for gasto in gastos %}
    <tr>
        <td><a href="/view/{{gasto.id}}/{{user}}">{{ gasto.Gasto }}</a></td>
        <td>{{ gasto.Tienda }}</td>
        <td>{{ gasto.Descripcion }}</td>
        <td>{{ gasto.Importe }}</td>
        <td>{{ gasto.Moneda }}</td>
        <td>{{ gasto.Fecha }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}