{% extends "layout.html" %}
{% block content %}
<form action="/compras/new/{{user}}" method="POST">
    <div class="row">
        <div class="col">
            <label for="Gasto">Gasto</label>
            <input id="Gasto" type="text" class="form-control" placeholder="Gasto" name="Gasto">
        </div>
        <div class="col">
            <label for="Tienda">Tienda</label>
            <input id="Tienda" type="text" class="form-control" placeholder="Tienda" name="Tienda" >
        </div>
        <div class="col">
            <label for="Descripcion">Descripcion</label>
            <input id="Descripcion" type="text" class="form-control" placeholder="Descripcion" name="Descripcion" >
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="Importe">Importe</label>
            <input id="Importe" type="text" class="form-control" placeholder="Importe" name="Importe" >
        </div>
        <div class="col">
            <label for="Moneda">Moneda</label>
            <select name="Moneda" id="Moneda" class="form-control">
                <option value="EUR">EUR</option>
                <option value="USD">USD</option>
                <option value="JPY">JPY</option>
                <option value="BGN">BGN</option>
                <option value="CZK">CZK</option>
                <option value="DKK">DKK</option>
                <option value="GBP">GBP</option>
                <option value="HUF">HUF</option>
                <option value="PLN">PLN</option>
                <option value="RON">RON</option>
                <option value="SEK">SEK</option>
                <option value="CHF">CHF</option>
                <option value="ISK">ISK</option>
                <option value="NOK">NOK</option>
                <option value="TRY">TRY</option>
                <option value="AUD">AUD</option>
                <option value="BRL">BRL</option>
                <option value="CAD">CAD</option>
                <option value="CNY">CNY</option>
                <option value="HKD">HKD</option>
                <option value="IDR">IDR</option>
                <option value="ILS">ILS</option>
                <option value="INR">INR</option>
                <option value="KRW">KRW</option>
                <option value="MXN">MXN</option>
                <option value="MYR">MYR</option>
                <option value="NZD">NZD</option>
                <option value="PHP">PHP</option>
                <option value="SGD">SGD</option>
                <option value="THB">THB</option>
                <option value="ZAR">ZAR</option>
            </select>
        <div class="col">
            <label for="Fecha">Año</label>
            <input id="Fecha" type="text" class="form-control" placeholder="Año" name="Fecha" >
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-success">REGISTRAR</button>
</form>



{% endblock %}